@import url('https://fonts.googleapis.com/css?family=Muli&display=swap')

* { /* The * means that all elements will have the same properties */
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    display: flex;
    width: 90vw;
}

.panel {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat; 
    height: 80vh;
    border-radius: 50px;
    color: #fff	;
    cursor: pointer;
    flex: 0.5; /* The flex: 0.5 means that the panel will take 50% of the available space by 
    combining the flex-grow and flex-shrink properties  */
    margin: 10px;
    position: relative; /* The position property is used to position an element relative to its normal position */
    transition: flex 0.7s ease-in;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left : 20px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media(max-width: 480px) { /* If the screen is less than 480px wide, set the font-size to 12px */
    .container {
        width: 100vw;
    }

    .panel:nth-of-type(5), .panel:nth-of-type(6), .panel:nth-of-type(7) { /* Select the 4th and 5th panel */
        display: none;
    }
}